.c-main {
    margin-left: 0 !important;
    &.p-baizhan-app {
        background-color: @baizhan_bg;
    }
}
.p-baizhan {
    .flex;
    justify-content: space-between;
    width: 100%;
    height: calc(100vh - 64px - 48px - 60px);
    background-color: @baizhan_bg;
    overflow: hidden;
    .m-baizhan-sidebar {
        padding: 0;
        background-color: @baizhan_bg;
        border-right: none;
        width: @baizhan_left;
        .c-sidebar-left-inner {
            overflow: hidden;
        }
        &.isopen {
            .c-sidebar-left-toggle {
                .none;
            }
        }
        &:hover {
            .c-sidebar-left-toggle {
                .db;
            }
        }
    }
    .m-bosses {
        // width: 280px;
        // height: 100%;
        .flex;
        flex-direction: column;
        .scrollbar();
        .u-boss {
            padding: 15px;
            box-sizing: border-box;
            border-bottom: 1px solid #eee;
            cursor: pointer;
            .flex;
            gap: 10px;
            align-items: flex-start;
            .u-left {
                flex: none;
            }
            .u-avatar {
                width: 50px;
                height: 50px;
                border-radius: 50%;
            }
            .u-right {
                width: 100%;
                .u-name {
                    .flex;
                    align-items: center;
                    justify-content: space-between;
                    gap: 10px;
                }
                .u-skills {
                    .flex;
                    gap: 5px;
                    overflow-x: auto;
                    margin-top: 5px;
                    .scrollbar();
                    .u-skill-item {
                        flex: none;
                    }
                    img {
                        .size(25px, 25px);
                    }
                }
            }
            &.is-active,
            &:hover {
                background-color: #eee;
            }
        }
    }
    .m-content {
        margin-left: @baizhan_left;
        transition: 0.2s ease-in;
        flex: 1;
        height: 100%;
        width: calc(100% - 40px);
        &.is-phone {
            margin-left: 0;
            width: calc(100% - 40px);
        }
    }
    .isclose + .m-content {
        margin-left: 0;
        width: calc(100% - 40px);
    }
    .isopen + .m-content {
        width: calc(100% - @baizhan_left - 40px);
    }
    .m-right {
        position: absolute;
        right: 20px;
        top: 0;
        width: 292px;
    }
}
