.p-skills {
    flex: 1;
    .flex;
    flex-direction: column;
    .m-search {
        padding: 20px 0;
        .flex;
        gap: 10px;
    }
    .m-header {
        position: sticky;
        top: 112px;
        background: #fff;
        width: 100%;
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        z-index: 9;
        text-align: center;
        padding: 10px 20px;
        border-bottom: 1px solid #eee;
        box-sizing: border-box;
        min-width: 1200px;
    }
    .m-table {
        .flex;
        flex-direction: column;
        min-width: 1200px;
        .u-item {
            display: grid;
            grid-template-columns: repeat(7, 1fr);
            padding: 10px 20px;
            box-sizing: border-box;
            .u-card {
                .flex;
                justify-content: center;
                align-items: center;
                .u-points {
                    img {
                        .size(16px, 16px);
                    }
                }
                .u-edit {
                    margin-left: 5px;
                    cursor: pointer;
                }
            }
            .u-skill-item {
                .flex;
                justify-content: flex-start;
                align-items: center;
                width: 150px;
                gap: 10px;
                padding: 0;
                .u-skill-icon {
                    .size(48px, 48px);
                    border: 2px solid transparent;
                    border-radius: 5px;
                    box-sizing: border-box;
                    overflow: hidden;
                    .flex;
                    justify-content: center;
                    align-items: center;
                    &.u-skill-icon__1 {
                        // 白色
                        border-color: @skill_white;
                    }
                    &.u-skill-icon__2 {
                        // 黄色
                        border-color: @skill_yellow;
                    }
                    &.u-skill-icon__3 {
                        // 蓝色
                        border-color: @skill_blue;
                    }
                    &.u-skill-icon__4 {
                        // 绿色
                        border-color: @skill_green;
                    }
                    &.u-skill-icon__5 {
                        // 红色
                        border-color: @skill_red;
                    }
                    &.u-skill-icon__6 {
                        // 紫色
                        border-color: @skill_purple;
                    }
                    &.u-skill-icon__7 {
                        // 黑色
                        border-color: @skill_black;
                    }
                    img {
                        .size(100%, 100%);
                        transform: scale(1.15);
                    }
                }
                .u-skill-popover {
                    .size(48px, 48px);
                }
                .el-popover__reference-wrapper {
                    .dbi;
                    .size(48px, 48px);
                }
            }
            &:not(:first-of-type):hover {
                background-color: #eee;
            }
        }
        .u-more {
            margin-top: 20px;
        }
        .m-pages {
            margin-top: 20px;
            text-align: center;
        }
    }
}

.el-popover {
    padding: 2px;
    &.u-skill__popup__1 {
        // 白色
        background: @skill_white;
        border-color: @skill_white;
    }
    &.u-skill__popup__2 {
        // 黄色
        background: @skill_yellow;
        border-color: @skill_yellow;
    }
    &.u-skill__popup__3 {
        // 蓝色
        background: @skill_blue;
        border-color: @skill_blue;
    }
    &.u-skill__popup__4 {
        // 绿色
        background: @skill_green;
        border-color: @skill_green;
    }
    &.u-skill__popup__5 {
        // 红色
        background: @skill_red;
        border-color: @skill_red;
    }
    &.u-skill__popup__6 {
        // 紫色
        background: @skill_purple;
        border-color: @skill_purple;
    }
    &.u-skill__popup__7 {
        // 黑色
        background: @skill_black;
        border-color: @skill_black;
    }
}

@media screen and (max-width: @phone) {
    .m-skill-dialog {
        max-width: 100%;
        .el-dialog {
            margin-top: 3vh !important;
            width: 90%;
        }
    }
}
