.m-fb-attr{
    .mb(20px);

    a{
        .db;
        .fz(14px);
    }

    ul{
        .clearfix;
        .mt(40px);
        padding:0;
        margin:0;
    }

    li{
        list-style: none;
        .w(200px);
        .fl;
        padding:8px 0;
        &:hover{
            background-color:#f5f7fa;
        }
    }

    img{
        .y;
        .size(24px);
        .mr(5px);
        .r(2px);
    }
}