.m-fb-list {

    .u-mode-list,.u-boss-list{
        color:#565656;
    }
    .u-mode-list {
        .mb(5px);
    }
    .u-boss-list {
        b {
            //.mr(5px);
            &:after {
                content: " ／ ";
                color: #ccc;
            }
            &:last-child {
                &:after {
                    .none;
                }
            }
        }
        .isFocus {
            background-color: #ff0;
        }
    }
}

@media screen and (max-width:@phone){
    .m-fb-list{
        .mt(15px);
    }
}

.m-fb-slider{
    .r(4px);
    .mb(4px);
    .w(100%);
    background-color:@bg-black;
    .x;
    img{
        .db;
        .auto(x);
    }
}