.m-fb-info {
    padding:10px;
    .u-pic {
        img {
            .size(235px, 132px);
            .r(4px);
            filter: saturate(180%) brightness(120%);
            .db;.auto(x);
        }
    }
    .u-title {
        .bold;
        .mb(10px);
    }
    .u-intro {
        .break(3);
        .fz(13px, 1.8);
        .h(69px);
    }
    .u-mode {
        list-style: none;
        .clearfix;
        margin:0;
        padding:0;
        li {
            .fl;
            .fz(13px);
            border: 1px solid @border-hr;
            padding: 3px 10px;
            .mr(10px);
            .mb(10px);
            .r(4px);
            background-color: #fff;
        }
    }
}

@media screen and (max-width:@ipad){
    .m-fb-info{
        .none;
    }
}

.m-fb-links{
    padding:15px;

    .u-icon{
        .size(18px);
        .y(-3px);
    }
}
@media screen and (max-width:@phone){
    .m-fb-links{
        .none;
    }
}