.m-fb-nav {
    .pr;
    .u-group{
        margin:0 0 10px 0;
    }
    .u-category {
        background-color: @bg-light;
        padding: 10px 20px;
        border-bottom: 1px solid #eee;
        margin: 0;
        font-size: 100%;
        font-weight: 400;

        &:first-child {
            border-top-left-radius: 4px;
            border-top-right-radius: 4px;
        }
        .u-title {
            .fz(13px);
        }
        .u-level {
            //.fr;
            color: #888;
            .fz(13px);
            .ml(5px);
        }
        .u-switch {
            .fr;
            .u-icon {
                .size(16px);
            }
        }
        &.active {
            .u-title {
                .bold;
            }
        }
        .mb(10px);
    }
    .u-list {
        margin: 0;
        padding:0;
        user-select: none;
        // .none;
        &.on {
            .db;
        }
        // border-bottom: 1px solid #eee;
    }
    .u-item {
        .pointer;
        list-style: none;
        .fz(13px);
        .lh(28px);
        .u-link {
            .db;
            padding: 0 20px 0 30px;
            color:@primary;
            &:before {
                content: "»";
                .mr(5px);
                color:#555;
            }
        }
        &:hover {
            background-color: #edf8fb;
            color:@color-link;
        }
        &.active {
            .bold;
            background-color: #edf8fb;
            .r(2px);
            color:@primary;
        }
    }

    .hidden {
        .none;
    }
}

.m-nav-search {
    // .pr;
    position: sticky;
    top:0;
    &:after {
        content: "\e778";
        font-family: element-icons !important;
        speak: none;
        font-style: normal;
        font-weight: 400;
        font-variant: normal;
        text-transform: none;
        line-height: 1;
        vertical-align: baseline;
        display: inline-block;
        -webkit-font-smoothing: antialiased;
        .pa;.rt(10px,12px);
        color:#d1d3da;
    }
}

.m-nav-link{
    .mb(10px);
}