.m-fb-rank-group{

    .el-collapse-item__header{
        .pr;
    }

    .u-title{

    }

    .u-team{
        .fz(13px);
        &:after{
            content:"@"
        }
    }

    .u-server{
        .fz(13px);
    }

    .u-date{
        .fz(12px);
        color:#888;
        .pa;.rt(30px,0);
    }

    .u-cost{
        .fz(12px);
        color:#888;
    }
}