.m-fb-tabs{
    position: sticky;
    top: 112px;
    background-color:#fff;
    .z(100);

    .u-secret,.u-new,.u-pending{
        .fz(12px);
        .pr;top:-5px;
        padding:0 4px;
        .r(2px);
    }
    .u-secret{
        background-color:#c00;
        // color:#f00 !important;
        color:#fff;
    }
    .u-new{
        background-color:#49c10f;
        color:#fff;
    }
    .u-pending{
        background-color:#aaa;
        color:#fff;
    }
    user-select: none;
}